<div class="hero hero--center" style="background-color: #fff;">
  <div class="hero__content">
    <h3>Join our team?</h3>
    <p>We need your help to create best product ever.</p>
      <form id="applicationForm" class="">
        <input id="email" type="email" name="email"/>
        <textArea id="body" name="body"></textArea>
        <button type="submit" class="button button--primary button--pill">Submit</button>
      </form>
  </div>
</div>

<script>
  (function() {
  var SOURCES = window.TEXT_VARIABLES.sources;
  window.Lazyload.js(SOURCES.jquery, function() {
    // Checking if Web3 has been injected by the browser (Mist/MetaMask)
    if (typeof web3 !== 'undefined') {

      // Use the browser's ethereum provider
      var provider = web3.currentProvider
      console.log("web3 Provider:", provider);

      $("#applicationForm").submit(function(event) {
        event.preventDefault();
        var formData = new FormData($(this).get(0));
        var email = formData.get("email");
        var body = formData.get("body");
        $.getJSON(SOURCES.dform_abi, function(dFormAbi) {
          var dFormContract = web3.eth.contract(dFormAbi.abi).at(SOURCES.dform_contract);
          console.log("dForm contract is initialized.");

          dFormContract.sendApplication(body, email, function(error, result){
            console.log(error, result);
          });
        });

        
      });

    } else {
      console.log('No web3? You should consider trying MetaMask!');
      // TODO show something
    }
  });
})();
</script>