article {
  p {
    font-feature-settings : "pkna";
  }
}

%brand__type {
  font-family: 'Nixie One', cursive;
}

.header {
  $self: &;

  &__brand {
    @extend %brand__type;

    > svg {
      width: 2.92rem;
      height: 2.92rem;
      margin-right: 0rem;
    }

    > a {
      font-size: 1.8rem;
      vertical-align: bottom;
    }
  }

  &--dark {
    #{$self}__brand {
      > svg {
        fill: $text-color-theme-dark-d;
      }
    }
  }
}

.hero {
  .article {
    &__header {
      h1 {
        @extend %brand__type;
        letter-spacing: 0.1rem;
      }
    }
  }
}

.team {
  &__name {
    h1,h2,h3,h4 {
      margin-bottom: 0;
    }
  }
}